<nav class="nav navbar-dark bg-dark padding">
    <li class="nav-item">
        <%= link_to "Inicio", root_path, class:"nav-link"%>
    </li>
    <li class="nav-item">
        <%= link_to "Customers", customers_path, class:"nav-link"%>
    </li>
  <li class="nav-item">
        <%= link_to "New Customer", new_customers_path, class:"nav-link"%>
    </li>
</nav>